@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        <form>
            <label for="userName">账号：</label>    <input id="userName" type="text" placeholder="手机号/邮箱" style="width:80%" /><br/>
            <label for="pwd">密码：</label>    <input id="userName" type="password" placeholder="密码" style="width:80%" />
        </form>
    </div>
</body>
</html>

